<%= form_for(@facebook) do |f| %>
  <% if @facebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook.errors.count, "error") %> prohibited this facebook from being saved:</h2>

      <ul>
      <% @facebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
